$back: #eaeaf9;
$main: #0055ff;
$sub: #2287da;
$red: #ff2655;
$gray: #c1c1c9;
$gray2: #fafaff;
$gray3: #fdfdff;
$gray4: #e1e1e9;
$black: #000;
$dark: #575762;
$dark2: #a1a1a9;
$white: #fff;
$easing: cubic-bezier(0.08, 0.67, 0.335, 0.915);
$rgba: rgba(10, 30, 50, 0.65);
