@import "Variables.scss";

.care-content {
	width: 100%;
	display: flex;
	flex-wrap: wrap;

	.flex-box {
		width: 50%;
		min-height: 22.5rem;

		&.pl {
			padding-left: 1rem;
		}

		&.pt {
			padding-top: 0.75rem;
		}

		&.bt {
			border-top: 1px solid $gray4;
		}

		&.bl {
			border-left: 1px solid $gray4;
		}

		.inner-flex {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
			margin-top: -2rem;

			p {
				margin-bottom: 1rem;
				font-weight: 300;
				font-size: 1.5rem;

				&.view {
					cursor: pointer;
					font-size: 0.9rem;
					color: $main;
					text-decoration: underline;
				}
			}

			button {
				margin: 0.5rem 0.5rem;
			}
		}
	}
}

.care-box {
	height: calc(100vh - 22.5rem);
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
	padding: 2rem 0 6rem;
}

.pic-file-container {
	width: 80%;
	padding: 3rem 2rem 3rem 7rem;
	display: flex;
	margin: 4rem auto;
	border-bottom: 1px solid $dark2;
	position: relative;

	&:last-child {
		border: none;
	}

	.picture {
		position: relative;

		&.thumb {
			width: 8rem;
			height: 4.8rem;

			.img-wrap {
				width: 100%;
				height: 5rem;
				border-radius: 0.75rem;
				overflow: hidden;
			}
		}

		.img-wrap {
			width: 35rem;
			height: 17rem;
			border-radius: 0.75rem;
			overflow: hidden;
		}

		.del-btn {
			position: absolute;
			width: 1.5rem;
			height: 1.5rem;
			background: $red;
			top: 50%;
			right: -2.25rem;
			transform: translateY(-40%);
			border-radius: 5rem;
			cursor: pointer;

			&:hover {
				opacity: 0.7;
			}

			&:after {
				content: "";
				display: block;
				width: 1.5px;
				height: 1rem;
				background: $white;
				position: absolute;
				transform: rotate(45deg);
				top: 0.25rem;
				left: 0.7rem;
			}

			&:before {
				content: "";
				display: block;
				width: 1.5px;
				height: 1rem;
				background: $white;
				position: absolute;
				transform: rotate(-45deg);
				top: 0.25rem;
				left: 0.7rem;
			}
		}
	}

	.pic-num {
		position: absolute;
		font-size: 2.5rem;
		font-weight: 200;
		top: 2rem;
		left: 2rem;
		color: $main;
	}

	.order-btns {
		position: absolute;
		height: 12rem;
		top: 8rem;
		left: 2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		.order-btn {
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 5rem;
			background: $gray4;
			cursor: pointer;
			position: relative;
			opacity: 0.85;

			&:after {
				content: "";
				display: block;
				width: 0.85rem;
				height: 0.85rem;
				border: 4px solid $gray;
				border-radius: 0.2rem;
				border-left: none;
				border-bottom: none;
				transform: rotate(-45deg);
				position: absolute;
				top: 0.9rem;
				left: 0.7rem;
			}

			&.down:after {
				transform: rotate(135deg);
				position: absolute;
				top: 0.55rem;
				left: 0.7rem;
			}

			&:hover {
				&:after {
					border-color: $main;
				}
			}

			&.hidden {
				display: none;
			}
		}
	}

	.pic-box {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;

		align-items: center;

		text-align: center;

		&.ml {
			margin-left: 5rem;
		}

		label {
			margin-top: 2.25rem;
		}

		.panorama-img {
			width: 35rem;
			border-radius: 0.75rem;
		}

		.thumb-img {
			width: 8rem;
			border-radius: 0.75rem;
		}
	}

	.apply-btn {
		margin-top: 7rem;
		margin-left: 7rem;
	}
}

.interview-box {
	display: flex;

	.photo-box {
		width: 30rem;
		display: flex;
		flex-direction: column;
		align-items: center;

		p {
			font-weight: 300;
			margin-bottom: 1rem;
			margin-top: 3rem;
			font-size: 0.8rem;
		}

		label {
			margin-top: 2rem;
		}

		.photo {
			width: 15rem;
			height: 15rem;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;

			img {
				width: 100%;
			}
		}
	}

	textarea {
		margin-bottom: 0rem;

		&.mb {
			margin-bottom: 2rem;
		}
	}

	.label {
		font-size: 0.9rem;
		font-weight: 500;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}

	input,
	textarea,
	.input-area {
		width: 100%;
	}
}

.review-box {
	width: 100%;
	margin: 0 auto;
	padding: 0 20rem 10rem;

	.star {
		display: inline-block;
		width: 2rem;
		height: 2rem;
		background-image: url("../img/star.png");
		background-size: cover;
		background-position: 4rem 0;

		&.full {
			background-position: 0rem 0;
		}

		&.half {
			background-position: 2rem 0;
		}
	}

	.review-header {
		display: flex;
		width: 100%;
		border-bottom: 1px solid $gray;
		padding-bottom: 4rem;
		padding-left: 3rem;

		.star-box {
			width: 35%;
			text-align: center;

			.star-point {
				font-size: 5rem;
			}
		}

		.point-gauge {
			width: 65%;
			padding: 0 12rem;
			padding-left: 7rem;

			ul {
				display: flex;
				justify-content: space-between;

				li {
					display: flex;
					justify-content: center;
					flex-direction: column;
					text-align: center;

					.gauge-background {
						position: relative;
						width: 0.5rem;
						height: 6rem;
						background: $gray4;
						margin: 0.5rem auto;
						border-radius: 1rem;
					}

					.gauge {
						position: absolute;
						width: 0.5rem;
						height: auto;
						left: 0;
						bottom: 0;
						border-radius: 1rem;
						background: $main;
					}
				}
			}
		}
	}
}

.review-body {
	padding: 2rem 2rem;
	background: $gray3;
	margin: 2rem 0;
	border-radius: 1rem;

	&.hide {
		.user-info,
		.image-wrap,
		.user-text,
		.reported {
			opacity: 0.3;
		}
	}
}

.user-text {
	font-weight: 300;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
	line-height: 2;
	padding-right: 6rem;

	p {
		font-size: 1.1rem !important;
	}
}

.user-header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.user-image {
	display: flex;
	align-items: center;
}

.user-review {
	&.reply {
		width: 90%;
		margin-left: auto;
		margin-top: 3rem;
		position: relative;

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 1rem;
			height: 1rem;
			border-left: 1px solid $dark;
			border-bottom: 1px solid $dark;
			left: -4rem;
			top: 2rem;
		}
	}
}

.image-wrap {
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	overflow: hidden;

	img {
		width: 100%;
	}
}

.user-info {
	margin-left: 1rem;
	p {
		font-size: 1.2rem;
		font-weight: 500;
		&.date {
			font-size: 1rem;
			color: $dark2;
			font-weight: 400;
		}
	}
}

.view-wrap {
	width: 100%;
	position: fixed;
	height: 100vh;
	top: 0;
	left: 0;
	background: $rgba;
	z-index: 9999;
	display: none;
	overflow-y: scroll;

	&.active {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;
	}

	.view-box {
		width: 60rem;
		height: auto;
		padding: 2rem;
		background: $white;
		border-radius: 1rem;
		margin: 10rem 0;
	}

	.close-btn {
		cursor: pointer;
		position: fixed;
		width: 7rem;
		height: 7rem;
		right: 3.5rem;
		top: 3.5rem;

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 2px;
			height: 6rem;
			background: $white;
			transform: rotate(45deg);
			top: 0.5rem;
			right: 3.5rem;
		}

		&:before {
			content: "";
			display: block;
			position: absolute;
			width: 2px;
			height: 6rem;
			background: $white;
			transform: rotate(135deg);
			top: 0.5rem;
			right: 3.5rem;
		}
	}
}
