@import "Variables.scss";

// guide, guide_write, guide_detail페이지 스타일

@mixin tagDesc {
	display: block;
	position: absolute;
	top: -1.4rem;
	left: -1.4rem;
	font-size: 1rem !important;
	font-family: $spoqa !important;
	color: #000 !important;
	opacity: 0.3;
	font-weight: 500 !important;
}

.table-box {
	width: 100%;
	position: relative;

	.row-unit {
		position: absolute;
		margin-top: 1.5rem;
		right: 0;
		bottom: 0;
	}
}

.edit-box {
	width: 100%;
}

.summary-box {
	margin-left: 2rem;
	width: calc(32% - 2rem);

	.label {
		font-weight: 500;
		letter-spacing: -1px;
	}

	.img-wrap {
		width: 100%;
		height: auto;
		min-height: 13rem;
		border: 1px solid $gray;
		margin-bottom: 1.5rem;
		margin-top: 0.5rem;

		img {
			width: 100%;
			height: auto;
			display: inline-block;
		}
	}

	textarea {
		width: 100%;
		margin-top: 0.5rem;
	}
}

// 본문 디테일 페이지 헤더
.detail-header {
	display: flex;
	font-size: 1.3rem;
	border-bottom: 1px solid $gray;
	padding-bottom: 1.5rem;
	align-items: center;
	position: relative;
	width: 100%;
	margin-top: 0.3rem;

	.label {
		color: $dark2;
		font-size: 0.9rem;

		&.ml {
			margin-left: 2rem;
		}
	}

	.text {
		margin-left: 1rem;
		font-weight: 300;
		font-size: 0.9rem;
	}

	.title {
		margin-left: 1rem;
		font-weight: 500;
		font-size: 1.2rem;
	}

	.header__util {
		position: absolute;
		right: 0;

		.del-btn {
			margin-left: 0.5rem;
		}
	}
}

// 본문 디테일 페이지 바디

.note-editable,
.detail-body {
	font-size: 2rem;
	font-weight: 300;
	width: 100%;
	font-family: $spoqa !important;
	text-align: left !important;
	padding: 2rem !important;
	height: calc(100vh - 33rem);
	padding-right: 1vw;

	.guide-common {
		width: 100%;
	}

	.attach-files {
		padding: 1.5rem 2rem;
		border: 1px solid $gray3;
		border-radius: 1rem;
		margin-top: 3rem;

		h5 {
			margin-bottom: 0.5rem;
		}

		a {
			display: block;
			font-size: 1.5rem;
			padding: 1rem 0;
			border-bottom: 1px solid $gray3;

			&:last-child {
				border-bottom: none;
			}

			&:hover {
				text-decoration: underline;
			}
		}
	}

	blockquote {
		font-size: 1rem !important;
		font-weight: 300 !important;
		color: $gray5 !important;

		span {
			font-size: 1rem !important;
			font-weight: 300 !important;
			color: $gray5 !important;
		}
	}

	ul,
	li {
		list-style-type: disc !important;
	}

	ul,
	ol {
		list-style-type: decimal !important;
	}

	h1 {
		font-size: 4.9rem !important;
		line-height: 1 !important;
		font-family: $bhan !important;
		color: $main;
		position: relative;

		&:after {
			@include tagDesc;
			content: "h1";
		}

		span {
			font-size: 4.9rem !important;
			line-height: 1 !important;
			font-family: $bhan !important;
			color: $main;
		}
	}

	h2 {
		font-size: 1.5rem !important;
		font-weight: 600 !important;
		border-radius: 0.7rem !important;
		margin-bottom: 2rem !important;
		position: relative;

		&:after {
			@include tagDesc;
			content: "h2";
		}

		span,
		p {
			font-size: 1.5rem !important;
			font-weight: 600 !important;
			border-radius: 0.7rem !important;
			margin-bottom: 2rem !important;
		}
	}

	h3 {
		font-size: 1.4rem !important;
		font-weight: 600 !important;
		position: relative;
		padding-left: 1.1rem;
		line-height: 1.8 !important;

		&:before {
			@include tagDesc;
			content: "h3";
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			width: 5px;
			height: 1.4rem;
			background: $main;
			left: 0;
			top: 0.65rem;
		}

		span,
		p {
			font-size: 1.4rem !important;
			font-weight: 600 !important;
			line-height: 1.8 !important;
		}
	}

	h4 {
		font-size: 1.4rem !important;
		margin-bottom: 1.4rem;
		border-bottom: 1px solid $gray3;
		border-top: 1px solid $gray3;
		padding: 2rem 0;
		padding-right: 3vw;
		margin-bottom: 4rem;
		line-height: 2 !important;
		position: relative;

		&:after {
			@include tagDesc;
			content: "h4";
		}

		span,
		p {
			font-size: 1.4rem !important;
			font-weight: 400 !important;
			line-height: 2 !important;
		}
	}

	h5 {
		font-size: 1.2rem !important;
		font-weight: 700 !important;
		line-height: 1.2 !important;
		margin-top: 1.5rem;
		position: relative;

		&:after {
			@include tagDesc;
			content: "h5";
		}

		span,
		p {
			font-size: 1.2rem !important;
			font-weight: 700 !important;
			line-height: 1.2 !important;
		}
	}

	img {
		max-width: 100% !important;
	}

	p {
		font-size: 1.35rem !important;
		font-family: $spoqa !important;
		font-weight: 300 !important;
		line-height: 2 !important;
		margin-top: 0.6rem;
	}

	strong {
		font-family: $spoqa !important;
	}

	span {
		font-size: 1.35rem !important;
		font-family: $spoqa !important;
		font-weight: 300 !important;
		line-height: 2 !important;
	}

	b {
		font-size: 1.35rem !important;
		font-family: $spoqa !important;
		line-height: 2 !important;
		font-weight: 500 !important;
	}

	u {
		text-decoration: none;
		padding: 0;
	}

	a {
		font-size: 1.25rem !important;
		color: $main !important;
		text-decoration: none;
		border-bottom: 1px solid $main;
	}

	hr {
		border: 1px solid $gray4 !important;
	}

	img {
		width: auto;
	}
}

.detail-body {
	height: calc(100vh - 20rem);
	overflow-y: scroll;
	margin-bottom: 1.5rem;
	padding-right: calc(10vw + 15rem) !important;
}
