@import "Variables.scss";

// guide, guide_write, guide_detail페이지 스타일

.table-box {
	width: 100%;
	position: relative;

	.row-unit {
		position: absolute;
		margin-top: 1.5rem;
		right: 0;
		bottom: 0;
	}
}

.edit-box {
	width: 100%;
}

.summary-box {
	margin-left: 2rem;
	width: calc(32% - 2rem);

	.label {
		font-weight: 500;
		letter-spacing: -1px;
	}

	.img-wrap {
		width: 100%;
		height: 5rem;
		min-height: 13rem;
		border: 1px solid $gray;
		margin-bottom: 1.5rem;
		margin-top: 0.5rem;

		img {
			width: 100%;
			height: auto;
			display: inline-block;
		}
	}

	textarea {
		width: 100%;
		margin-top: 0.5rem;
	}
}

// 본문 디테일 페이지 헤더
.detail-header {
	display: flex;
	font-size: 1.3rem;
	border-bottom: 1px solid $gray;
	padding-bottom: 1.5rem;
	align-items: center;
	position: relative;
	width: 100%;
	margin-top: 0.3rem;

	.label {
		color: $dark2;
		font-size: 0.9rem;

		&.ml {
			margin-left: 2rem;
		}
	}

	.text {
		margin-left: 1rem;
		font-weight: 300;
		font-size: 0.9rem;
	}

	.title {
		margin-left: 1rem;
		font-weight: 500;
		font-size: 1.2rem;
	}

	.header__util {
		position: absolute;
		right: 0;

		.del-btn {
			margin-left: 0.5rem;
		}
	}
}

// 본문 디테일 페이지 바디
.detail-body {
	font-size: 1.1rem;
	font-weight: 300;
	line-height: 2.2;
	padding: 3rem 10rem 6rem 3rem;
	max-height: calc(100vh - 10rem);
	overflow-y: auto;
	border-bottom: 1px solid $gray;
	margin-bottom: 1rem;

	blockquote {
		font-size: 0.9rem !important;
		font-weight: 600 !important;
		color: $gray5 !important;
	}

	ul,
	li {
		list-style-type: disc !important;
	}

	ul,
	ol {
		list-style-type: decimal !important;
	}

	h1 {
		background: $main !important;
		color: #fff !important;
		font-size: 1.3rem !important;
		padding: 0.6rem 0.9rem !important;
		font-weight: 500 !important;
		border-radius: 0.7rem !important;
		margin-bottom: 1rem !important;
	}

	h2 {
		font-size: 1.3rem !important;
		color: $main !important;
		border: 1px solid $main !important;
		padding: 0.6rem 0.9rem !important;
		font-weight: 500 !important;
		border-radius: 0.7rem !important;
		margin-bottom: 1rem !important;
	}

	h3 {
		font-size: 1.3rem !important;
	}

	hr {
		margin: 1rem 0 !important;
		border-color: $gray3 !important;
		border-bottom: none !important;
	}

	img {
		max-width: 100% !important;
	}

	p {
		font-size: 1.2rem !important;
		font-family: $noto !important;
		font-weight: 300 !important;
		line-height: 2.2 !important;
	}

	strong {
		font-size: 1.1rem !important;
		font-family: $noto !important;
		line-height: 2.2 !important;
	}

	span {
		font-size: 1.1rem !important;
		font-family: $noto !important;
		font-weight: 300 !important;
		line-height: 2.2 !important;
	}

	img {
		width: auto;
	}

	img {
		width: auto;
	}

	a {
		color: $main;
		text-decoration: underline;
		text-decoration-color: $main;
	}

	.detail-body__info {
		font-size: 0.9rem;
		font-weight: 400;
		color: $dark2;
		margin-top: 3rem;
		width: 100%;
		border-bottom: 1px solid $gray;
		padding-bottom: 1rem;

		.divider {
			display: inline-block;
			height: 0.9rem;
			width: 1px;
			background: $dark2;
			margin: 0 0.75rem;
			transform: translateY(0.15rem);
		}
	}
}

.note-editable {
	padding: 2.5rem !important;
	height: calc(100vh - 33rem) !important;

	blockquote {
		font-size: 0.9rem !important;
		font-weight: 600 !important;
		color: $gray5 !important;
	}

	h1 {
		background: $main !important;
		color: #fff !important;
		font-size: 1.3rem !important;
		padding: 0.6rem 0.9rem !important;
		font-weight: 500 !important;
		border-radius: 0.7rem !important;
		margin-bottom: 1rem !important;
	}

	h2 {
		font-size: 1.3rem !important;
		color: $main !important;
		border: 1px solid $main !important;
		padding: 0.6rem 0.9rem !important;
		font-weight: 500 !important;
		border-radius: 0.7rem !important;
		margin-bottom: 1rem !important;
	}

	h3 {
		font-size: 1.3rem !important;
	}

	hr {
		margin: 1rem 0 !important;
		border-color: $gray3 !important;
		border-bottom: none !important;
	}

	img {
		max-width: 100% !important;
	}

	p {
		font-size: 1.2rem !important;
		font-family: $noto !important;
		font-weight: 300 !important;
		line-height: 2.2 !important;
	}

	strong {
		font-size: 1.1rem !important;
		font-family: $noto !important;
		line-height: 2.2 !important;
	}

	span {
		font-size: 1.1rem !important;
		font-family: $noto !important;
		font-weight: 300 !important;
		line-height: 2.2 !important;
	}

	img {
		width: auto;
	}
}
